.App {
  margin: 0 auto;
  max-widt
}

.App-h1{
  font-size: 70px;
}

.ArticleCard{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: 100px 0;
  padding: 
}

.ArticleImage{
  flex-basis: 
}